home/programs/git.nix filter=git-crypt diff=git-crypt
home/programs/ssh.nix filter=git-crypt diff=git-crypt
hosts/nixos/wireless.nix filter=git-crypt diff=git-crypt
nixos/wireless.nix filter=git-crypt diff=git-crypt