---
###############################################################
#                   Authelia configuration                    #
###############################################################

server:
  host: 0.0.0.0
  port: 9091
log:
  level: debug
theme: dark
# This secret can also be set using the env variables AUTHELIA_JWT_SECRET_FILE
jwt_secret: SOPS_JWT_SECRET
default_redirection_url: https://auth.local.solivan.dev
totp:
  issuer: auth.local.solivan.dev

# duo_api:
#  hostname: api-123456789.example.com
#  integration_key: ABCDEF
#  # This secret can also be set using the env variables AUTHELIA_DUO_API_SECRET_KEY_FILE
#  secret_key: 1234567890abcdefghifjkl

authentication_backend:
  file:
    path: /config/users_database.yml
    password:
      algorithm: argon2id
      iterations: 1
      salt_length: 16
      parallelism: 8
      memory: 64
      
access_control:
  default_policy: deny
  rules:
    - domain: "*.solivan.dev"
      policy: bypass
      networks:
      - '192.168.0.0/16'   # My home network
      - '172.0.0.0/24'
    - domain:
      - 'heimdall.local.solivan.dev'
      - 'home.local.solivan.dev'
      - 'radarr.local.solivan.dev'
      - 'readarr.local.solivan.dev'
      - 'sonarr.local.solivan.dev'
      - 'prowlarr.local.solivan.dev'
      - 'prowlarr-abb.local.solivan.dev'
      - 'status.local.solivan.dev'
      - 'lazylibrarian.local.solivan.dev'
      policy: bypass
      resources:
       - '^/\d+/api([/?].*)?$'
       - '^/api([/?].*)?$'
      methods:
        - GET
    - domain: 
      - 'heimdall.local.solivan.dev'
      - 'home.local.solivan.dev'
      - 'radarr.local.solivan.dev'
      - 'readarr.local.solivan.dev'
      - 'sonarr.local.solivan.dev'
      - 'prowlarr.local.solivan.dev'
      - 'prowlarr-abb.local.solivan.dev'
      - 'status.local.solivan.dev'
      - 'lazylibrarian.local.solivan.dev'
      - 'traefik-dashboard.local.solivan.dev'
      - 'pihole.local.solivan.dev'
      - 'pihole-proxy.local.solivan.dev'
      policy: bypass

session:
  name: authelia_session
  # This secret can also be set using the env variables AUTHELIA_SESSION_SECRET_FILE
  secret: SOPS_SESSION_SECRET
  expiration: 12h  # 1 hour
  inactivity: 5m  # 5 minutes
  domain: solivan.dev  # Should match whatever your root protected domain is

  # redis:
  #   host: redis
  #   port: 6379
  #   # This secret can also be set using the env variables AUTHELIA_SESSION_REDIS_PASSWORD_FILE
  #   # password: authelia


regulation:
  max_retries: 3
  find_time: 120
  ban_time: 300

storage:
  encryption_key: SOPS_ENCRYPTION_KEY
  local:
    path: /config/db.sqlite3

notifier:
  # smtp:
  #   username: test
  #   # This secret can also be set using the env variables AUTHELIA_NOTIFIER_SMTP_PASSWORD_FILE
  #   password: password
  #   host: mail.example.com
  #   port: 25
  #   sender: admin@example.com
  filesystem:
    filename: /config/notification.txt

identity_providers:
  oidc:
    ## The other portions of the mandatory OpenID Connect 1.0 configuration go here.
    ## See: https://www.authelia.com/c/oidc
    ##### generate with 'docker run authelia/authelia:latest authelia crypto rand --length 128 --charset alphanumeric'
    hmac_secret: SOPS_HMAC_SECRET
    
    issuer_private_key: |
      -----BEGIN RSA PRIVATE KEY-----
      MIIJJwIBAAKCAgEAtH3QUvuHqUs7BgQN7akKpc8nt2k9HTqmSCjVFBv9V4QWLEpj
      uUCTaLZkimkiZ1z5Okx8c8346pWjBCZd90TjKk1G3ng23s3RdwcePBhaPfVJrytS
      DtibostbhgfMmySeemjCfjXnBi9Fj2HUG281LqoIBKX+17usOvpOnX68jA8G2G3H
      8SyZ/sGJ9rcjk7X7AwGq2ZebrTxQK4GzkuNvfssE1WixtkMME1GWgvAYUq+IUtYT
      FShG//+yHcixb3DUzoSmvMC74dzPujiF+6vQHjIOFsOvL75P7l6aHgMj5ZhOFPL0
      k2zGnwiMvh/R1SKc9epSJWwzpv02QytJW5+JURRbaXjzsYTlHFsR434d/opD9jPn
      T/s2VAvRHSrfxfQkmJ5CkVvZtfH16h0YICvrL7F/ECo4aTP53+WflUQ+XfteLllF
      S23Dodm4OGU+90aAxun3ozTXDYjK5227VIyqacWKuhxxWoMcVnD//M/J9CGYZhYB
      9cfe+o32EfGwjAYT6TCV0No2Um2WcVbfSzQ1bxDkIt3zaFl/3RIngnu2l9948QwD
      q7TsdBZyrbFQB6OR4LFr0HLdNpjqtRnaJfyRQHZANp+h4QE1mioZD9Wjyc1ZSTgh
      pIe73yh0zzLYQcemFf7hoDZrETkQuVrAUB//P9SqaPwhGTororkMsTW0RBECAwEA
      AQKCAgBIQUWwsrkwcMmEMwNQbSeyESgZKKwqk1wV7yK+FiZpbpthx7X8Z3mbpcjC
      ECyRrIqpaA06Xu6TGqxT8PgVESLPwHfqf72XnFWKjPLxo94ch6Gj2nfTMau8lCRj
      l6O1SAeZgW67D+EYfLwgFk3PXcmwkKj9E2bd/meIhMQMELxyZWGcKvar+er8LYaJ
      me9IJsYCAhzfVu4ff9GoWRgGab4syCF7PZpHGLgw06ypZmyWTWcJomGpSqKBwV8Q
      xVMjBcxrkHcfgRi15qvSJOaeRb3fGLLDMjtjpZBiIMUZ1q/8Lei0Qj7e9eDdsZKG
      Wj6qUFz9pXyVNqfG5f9fDGkloMxbWCpvHZTZbpazLeFHIgCSQ7GblJ8/KKRKH8B0
      W5UztMcfzcZAR/+VqVefQoZx3/P5ACMQgtzDYfhRtFsGcgv2w2Foot9Jb3t/gWR4
      yUI+u1qA14FGP14orsjKR1gg+95TX/bGZfmuqoC6MXtW0GybimVsgMVFG+QRQitR
      QfAPpJDhvBcEqkop6QfXMh4nffjDWt0JGPsKIJFT901aOilUktQBmVA/rdBvOtB7
      Z6hbwfnLk6v+wssOZA+LfB8ieMnlgs+rIstiuVwduGAOatEeaFO6fDyxrRtDsvPY
      pUg7GOwdTrHkcBKXZ17mEN3qT/QMJueBNk7Q02+g3eJeki9nAQKCAQEA7A9W6uHb
      PpPwjXBGuspFufqsIOvs6AQaDLu3kOXQQxhcXSE3viQqeSpvWbEW7aoTjxVOX+Mo
      FRmhb7edG2dGa3ZYXsG55uYFzjOV4Py9FhjZGWmy9FVvwbUIoXmaQ+Q86RqYNJ8R
      kAa3EOpxJ/sLP6+7BJtJyN1WHQ0WzOpv3gc2hSghK11dYKaja1K0E6ixqwNELbqR
      2EZUXBXpwCoDgHPAx1jkTD4ErPPcnTrAp4VtDqXjyWi1YDHK0TxcjUResanw8qvJ
      DxYK86PmdXnYu0yafK/yn8TuR0wGt471w59T2Svp7Dim/P/K9e7yubrIG11yDpZd
      Mk8YqgDpZPzISQKCAQEAw7zWkK9fgsYWuKDmYZkThH2Y2sosARdsvEcK2wZW25ou
      27WbNEAgFyDfPta8rmjVXxDM7ypMkaDIqRFabW6ZlB6EZwTfe3+sY9gPePMI6s2F
      5XQ9SqZ14SSxA5QKGfHHjhVJKaoxzYEQ+JmLEoXYYeFDYclIfxeu6xvD3Uvj/FSb
      v9V/5ahSzyx0j4ChoAU2qztDt97htdfL/k0QXYeEmfNO+OQk09GNZQx5pi0Nblp1
      TMEjluXgWN1LvuRKFFslAqI8SMjrrZjp6hjT3wRX8LxepGyaMnbf4TPpI5ObZGZm
      ZgokpgF53d0LvzZYJrP58HQwXOUtHmCnbxFve/ZtiQKCAQByJ/Tjf7ez6n0hGRPL
      TvgrOTM2dIFLrngegkUCWHC/ka9RBjhbxkeX8tKIcGBjLKVqw2X0bvi6Q3vTd9sN
      HoNqgn+3yz2okMJr9nxboj2aywdqB7iX+h0icvaqiBD3Fg/ytn62q9olaWnsT0PL
      jtbgxI3Pa31iGs+DGwpUrGbO23QdLsvjmbIHhG5w/zzAaQsKZXj6GEhha5luMtao
      rGinHNM0VCOLT06ZiRC+JGR4XsjflY+zneRgkZPAXc1wL4kPp9wyrqp7ljBTpIZV
      d0g9Q41OERRm+Sg16GkzKXpmUM2Or3LfXoI6xUSUbCqLcO1GdokqzsJhCuklhW1Y
      /fmpAoIBACk0Q2bJxC1fTcEn/ddlxfoKBndoP8MrDzTDL8HTn80ys9KEdFuXdCnq
      PZSY17dPUjtk6f8exGeTlSoiAQswURwhIHYfTHxO8BdEkF1BrArhoOIgihaA3Ce8
      9ZZvP4EeqId8a55duYYtOUlb6S7JBjf0l56qJJy8e5H6kkyvgRrJJNBJPVc3C9eY
      4CClT2DEODHrk+HNBW6mMschqeRGdt+BnIpAXJBKeJ1g9urIaR9l43N45OkLEyMh
      0qQoon+OgEgBpvcbdKFiozsoZtF3tJt0y+eJBRzCcXaS2u0mUXvdIokwcW6QuPq/
      YY2q/vuGv4KistubUtgmOJjk7rcFtSECggEAXIqFZoFpj8J6363XolQGMPjEDobv
      Ru7BuDbjuL4GtPmaJPhfrwfV7034OsfibxmOLxCbypi+5TuzdXuqPRKHP9rnIQDR
      13gbTXfpvZgT/s7Ps1TLQP4OzDcYboO2iUGmJD+5U1H4hR3HxdHplu1XBsZ93zZC
      HNO9hTvkstXT+aRk0Un64wwMk4ISdEX+hg+NdwVuoXuuWCflQxkGy6U26nxNcnI0
      q0xkJgl40HpaTRqxXcSeYxsQiIU8e4dV8sORI3Q4cdrnE237TCjT5k7odzRriR9R
      muBSIozZ4QhcLnqfOCKFQMFDzEsVTFTMWcdcHHBdg/AshEYJ1QvIpVdmYw==
      -----END RSA PRIVATE KEY-----
    clients:
    - id: portainer
      description: Portainer
      # generate with 'docker run authelia/authelia:latest authelia crypto hash generate pbkdf2 --variant sha512 --random --random.length 72 --random.charset rfc3986'
      secret: '$pbkdf2-sha512$310000$DlNK7RuAl9MXLkIEmumqzQ$iGLjxexqojNMvvrp7kKH3Q/bqN6X.Bk84l5CeW/ZdSct1zL7qeYQwR4uLUQ.btzrM6I6v3jvqIm2HfDd0vi4DA'
      public: false
      authorization_policy: one_factor
      redirect_uris:
        - https://portainer.local.solivan.dev
      scopes:
        - openid
        - profile
        - groups
        - email
      userinfo_signing_algorithm: none
